# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.rstudio

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# Python cache files
*.pyc

# misc.
*.DS_Store
*.vscode
*.bash_history

# data files
/data/*.csv
*.csv
/data/*.pickle
*.pickle
/data/*.pkl
*.pkl

*.pdf
!pyComBat_manual.pdf

.coverage

# latex files
*.bst
*.bib
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.toc

# build files
build/
pyComBat_test.egg-info/
ComBat.egg-info/
dist/